.App {
  text-align: center;
  margin: 0 auto;
  
}

.main {
  padding-top: 40px;
  margin: auto;
  display: flex;
  max-width: 800px;
  justify-content: center;
}
.menu {
  list-style-type: none;
}
.content_container {
  width: 1600px;
  display: flex;
}
.messenger-block {
  margin: 0 auto;
  display: flex;

}