.App {
  text-align: center;
}

.main {
  padding-top: 40px;
  max-width: 1600px;
  display: flex;
  justify-content: center;
}
.menu {
  list-style-type: none;
}
.chats {
  display: flex;
  justify-content: space-between;
}
.messenger-block {
  margin: 0 auto;
  display: flex;

}